.card {
    position: relative;
    box-shadow: 0 3px 6px rgb(46, 46, 46), 0 3px 6px rgb(68, 67, 67);
    text-align: left;
}

.card > .img-container {
    overflow: hidden;
    text-align: center;
    border-radius: .5rem;
    padding: 1px;
}

.img-container > .remove {
    border-radius: .5rem;
    position: absolute;
    top: 0px;
    left: 7px;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: #d50000;
}
.remove {
    transform: rotate(35deg);
}

.deleteBtn {
    border: none;
    border-radius: .5rem;
    background-color: rgba(8, 8, 8, 0.692);
    color: white;
}

.profile-pic {
    max-height: 400px;
}