.card {
    position: relative;
    width: 200px;
    min-width: 200px;
    max-height: 300px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
}

.card > .img-container {
    overflow: hidden;
    text-align: center;
}

.img-container > .remove {
    position: absolute;
    bottom: 0px;
    left: 5px;
    cursor: pointer;
}

.card > .remove:hover {
    color: #d50000;
}