nav {
    background-color:#ffd54f ;
    font-family: 'Unna', serif;
    color:#039be5;
}
.color {
    font-family: 'Unna', serif;
    color: #039be5;
}
.mgheader {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}