.specialty {
    height: 50px;
}
.edit {
    border-radius: .5rem;
}
.wrapper {
    margin-top: 35px;
    background-color: #2978ffb9;
    padding: 20px;
    border-radius: .5rem;
}
.aboutSection {
    min-height: 100px;
}
.wrapper2 {
    background-color: #ebc20bb9;
    padding: 20px;
    border-radius: .5rem;
}
.hr2 {
    border-bottom: 2px solid #2978fff6
}